@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.text-shadow-custom {
    text-shadow: 0px 4px 5px #00000080;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Copperplate';
    src: url('../Fonts/Copperplate-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Copperplate';
    src: url('../Fonts/Copperplate-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Copperplate';
    src: url('../Fonts/Copperplate-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.font-copperplate {
    font-family: 'Copperplate', serif;
}